---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <header>
    <nav class="navbar">
        <h2>DOMI EXPRESS</h2>
      <ul class="listaNav">
        <li> <a href="index.html"><b class="indicadorPage">Home</b></a></li>
        <li> <a href="pages/complexDesign.html">Servicios</a></li>
        <!-- <li> <a href="pages/apartmentDesign.html">Apartmente Design</a></li> -->
        <li> <a href="pages/location.html">Location</a></li>
        <li> <a href="pages/VirtualTour.html">Virtual Tour</a></li>
        <li> <a href="pages/contact.html">Contact</a></li>
      </ul>
    </nav>
    </header>
</Layout>

<style>
    .navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.42);
    /* margin-bottom: 5rem; */
}

.listaNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 54%;
    font-size: 15px;
    align-items: center;
    justify-items: center;
    list-style: none;
    gap: 10px;
    row-gap: 50px;

    li a {
        list-style: none;
        font-style: none;
        color: #4A4A4A;
        text-decoration: none;
    }
}
</style>