---
console.log("iniciando");
---

<header>
  <nav class="navbar">
    <h2>DOMI EXPRESS</h2>
    <ul class="listaNav">
      <li><a href="index.html"><b class="indicadorPage">Home</b></a></li>
      <li><a href="pages/location.html">About</a></li>
      <li><a href="pages/complexDesign.html">Servicios</a></li>
      <li><a href="pages/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  .navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.42);
    align-items: center;

    h2 {
      width: 17%;
      display: flex;
      justify-content: center;
      color: #1E2A46;
    }
  }

  .listaNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 28%;
    font-size: 15px;
    align-items: center;
    justify-items: stretch;
    list-style: none;
    gap: 12px;

    li a {
      list-style: none;
      font-style: none;
      color: #1E2A46;
      text-decoration: none;
    }
  }
</style>
